<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SegundoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.raincifedelivery.newpackage.controllers.SegundoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaAguasController</servlet-name>
        <servlet-class>br.edu.ifpe.recife.raincifedelivery.newpackage.controllers.MarcaAguasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SegundoServlet</servlet-name>
        <url-pattern>/SegundoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaAguasController</servlet-name>
        <url-pattern>/MarcaAguasController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
